/* HERRO BANNER  */

.big-title h2{
    font-size: 132px;
    font-weight: 700;
    line-height: 130px;
    margin-bottom: 40px;
    text-align: left;
}

.hero-banner{
    display: flex;
    align-items: center;
    height: 100vh;
    min-height: 700px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.hero-banner .hero-animation{
    position: relative;
    z-index: 9;
}
.hero-banner .hero-animation .bars{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    
}
.hero-banner .hero-animation .bar-one{
        width: 3px;
        height: 115px;
        background:var(--darkTheme);
        z-index: 1;
}
.hero-banner .hero-animation .bar-two{
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 35%;
    background: #71e2d8;
    animation: bar-two 7s infinite ease-in-out;
    z-index: 2;
}
@keyframes bar-two {

    0% {
        transform: translateY(0px);
    }
    
    50% {
        transform: translateY(75px);
    }
    100% {
        transform: translateY(0px);
    }

}
.circle-scroll{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    
}
.circle-scroll .img-scroll{
    background-image: url(../followpanos/assets/images/scrolldown.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 220px;
    height: 220px;
    animation: img-scroll 10s infinite linear;
    z-index: 10;
}

@keyframes img-scroll {

    to {
        transform: rotate(1turn);
    }





}
.circle-scroll .arrow-scroll{
    background-image: url(../followpanos/assets/images/scrolldown-arrow.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 24px;
    height: 32px;
    z-index: 11;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50% , -50%);
}


/* Video Banner */
.video-file{ 
    align-items: center;
    display: flex;
    height: auto;
    min-height: 800px;
    overflow: hidden;
    position: relative;
    padding: 40px 0;
    z-index: 0;
    
}
.video-info{
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
}
.video-info .video-title h3{
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 40px;
    z-index: 3;
}
.video-info .video-text span{
    display: block;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.3px;
    z-index: 3;
}

.video-upload{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #21252961;
    z-index: -1;
}


